{% extends "base.html" %}
{% comment %}
# -*- coding: utf-8 -*-
# Subject to the terms of the GNU AFFERO GENERAL PUBLIC LICENSE, v. 3.0. If a copy of the AGPL was not
# distributed with this file, You can obtain one at http://www.gnu.org/licenses/agpl.txt
#
# Author: Davide Galletti                davide   ( at )   c4k.it
{% endcomment %}
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h3>Welcome to <strong>{{ this_ks.name }}</strong></h3>
    <h4>{{ this_ks.description }}</h4>
    <h4>Provided by <strong><a href="{{ this_ks.organization.website }}" target="_blank">{{ this_ks.organization.name }}</a></strong></h4>
	<h2>Disclaimer</h2>
	{% autoescape off %}{{ this_ks.html_disclaimer }}{% endautoescape %}
{% endblock %}
{% block message %}
{{ message }}
{% endblock %}
