{% extends "base.html" %}
{% comment %}
# -*- coding: utf-8 -*-
# Subject to the terms of the GNU AFFERO GENERAL PUBLIC LICENSE, v. 3.0. If a copy of the AGPL was not
# distributed with this file, You can obtain one at http://www.gnu.org/licenses/agpl.txt
#
# Author: Davide Galletti                davide   ( at )   c4k.it
{% endcomment %}
{% load staticfiles %}
{% block content %}
	<h2>Disclaimer</h2>
	{% autoescape off %}{{ this_ks.html_disclaimer }}{% endautoescape %}
{% endblock %}
{% block message %}
{{ message }}
{% endblock %}
