{% extends "base.html" %}
{% comment %}
# -*- coding: utf-8 -*-
# Subject to the terms of the GNU AFFERO GENERAL PUBLIC LICENSE, v. 3.0. If a copy of the AGPL was not
# distributed with this file, You can obtain one at http://www.gnu.org/licenses/agpl.txt
#
# Author: Davide Galletti                davide   ( at )   c4k.it
{% endcomment %}

{% block content %}
    <div class="row-fluid">
        <form method="post" action="{% url "ks_explorer" %}" class="span9">
            <legend>Explore another Knowledge Server</legend>{% csrf_token %}
            {{ form }}
            <div class="row-fluid">
                <div class="span2"><input type="submit" class="btn btn-primary" value="Submit" /></div>
            </div>
        </form>
    </div>

{% endblock %}