{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
    <div class="row-fluid">
        {% if this_ks.URIInstance == explored_ks.URIInstance %}
          <h4>This OKS contains data sets of the following <strong>types/structures</strong>: </h4>
          <h6>(<i>Follow the link to get a list of datasets</i>)</h6>
        {% else %}
    	  <h3>Browsing an external Knowledge Server: </h3>
    	  <p>Name: <a href="{{ explored_ks.scheme }}://{{ explored_ks.netloc }}/" target="_blank">{{ explored_ks.name }}</a><br>
    	  Organization: <a href="{{ organization.website }}" target="_blank">{{ organization.name }}</a></p>
          <h4>It contains data sets of the following types. Follow the link to list them: </h4>
        {% endif %}
		{% if owned_structures %}
          {% if this_ks.URIInstance == explored_ks.URIInstance %}
            <h5>Owned by this OKS:</h5>
          {% else %}
            <h5>Owned by the OKS you are browsing:</h5>
          {% endif %}
          <ul>
          {% for structure in owned_structures %}
            <li>
                <a href="{% url 'browse_dataset' ks_url structure.URIInstance "browse" %}">{{ structure.actual_instance_name }}</a> ( <a href="{% url 'browse_dataset' ks_url structure.URIInstance "xml" %}">xml</a> | <a href="{% url 'browse_dataset' ks_url structure.URIInstance "json" %}">json</a> )
            </li>
          {% endfor %}
          </ul>
		{% endif %}
		{% if other_structures %}
		  <h5>Owned by other OKSs:</h5>
          <ul>
          {% for structure in other_structures %}
            <li>
                <a href="{% url 'browse_dataset' ks_url structure.URIInstance "browse" %}">{{ structure.actual_instance_name }}</a> ( <a href="{% url 'browse_dataset' ks_url structure.URIInstance "xml" %}">xml</a> | <a href="{% url 'browse_dataset' ks_url structure.URIInstance "json" %}">json</a> ) - <a href="{% url 'redirect_to_base64_oks_url' structure.oks_URIInstance  %}" target="_blank">{{ structure.oks_name }}</a>
            </li>
          {% endfor %}
          </ul>
		{% endif %}
    </div>

{% endblock %}
