{% extends "base.html" %}
{% comment %}
# -*- coding: utf-8 -*-
# Subject to the terms of the GNU AFFERO GENERAL PUBLIC LICENSE, v. 3.0. If a copy of the AGPL was not
# distributed with this file, You can obtain one at http://www.gnu.org/licenses/agpl.txt
#
# Author: Davide Galletti                davide   ( at )   c4k.it
{% endcomment %}
{% load staticfiles %}
{% block content %}
    <h3>Subscriptions, events, notifications</h3>
    
	{% if events %}
	<h4>Events to be processed</h4>
    <ul>
    {% for event in events %}
        <li>
            "{{ event.type }}" for {{ event.dataset.UKCL }}
        </li>
    {% endfor %}
    </ul>
    {% else %}
	<h4>No events to be processed</h4>
	{% endif %}
	
	{% if subscriptions_to_this %}
	<h4>Subscriptions to datasets in this OKS</h4>
    <ul>
    {% for subscription in subscriptions_to_this %}
        <li>
            {{ subscription.remote_url }} has subscribed to {{ subscription.first_version_UKCL }}
        </li>
    {% endfor %}
    </ul>
    {% else %}
	<h4>No subscriptions to datasets in this OKS</h4>
	{% endif %}
	
	{% if subscriptions_to_other %}
	<h4>Subscriptions this OKS has to datasets in another OKS</h4>
    <ul>
    {% for subscription in subscriptions_to_other %}
        <li>
            {{ subscription.first_version_UKCL }}
        </li>
    {% endfor %}
    </ul>
    {% else %}
	<h4>No subscriptions to datasets in other OKSs</h4>
	{% endif %}
	
	{% if notifications_to_be_sent %}
	<h4>Notifications to be sent to other systems</h4>
    <ul>
    {% for notification in notifications_to_be_sent %}
        <li>
            "{{ notification.event.type }}" for {{ notification.event.dataset.UKCL }} must be sent to {{ notification.remote_url }}
        </li>
    {% endfor %}
    </ul>
    {% else %}
	<h4>No notifications to be sent to other systems</h4>
	{% endif %}
	
	{% if received_notifications %}
	<h4>Notifications received for datasets with a new version</h4>
    <ul>
    {% for notification in received_notifications %}
        <li>
            Dataset {{ notification.URL_dataset }}, structure {{ notification.URL_structure }}
        </li>
    {% endfor %}
    </ul>
    {% else %}
	<h4>No notifications received</h4>
	{% endif %}
	<p/>
	{% if events or notifications_to_be_sent or received_notifications or subscriptions_to_this %}
		<h4>You should run <a target="_blank" href="{% url 'cron' %}">cron</a> to process incoming and outgoing notifications.</h4>
    {% else %}
		<h4>Nothing to process. If you still want to run cron click <a target="_blank" href="{% url 'cron' %}">here</a>.</h4>
	{% endif %}
{% endblock %}
{% block message %}
{{ message }}
{% endblock %}
